:root{
    --col1: #363636;
    --col2: #f8f2da;
}

@font-face {
    font-family: one ;
    src: url("https://file.garden/ZXYYlmMYuz15fq8m/fonts/Hybrid_b.ttf");
}

@font-face {
    font-family: space;
    src: url("https://file.garden/ZXYYlmMYuz15fq8m/fonts/Orbitronio.ttf");
}
html{
    background-image: url('https://file.garden/ZXYYlmMYuz15fq8m/other/ac22.jpg');
    background-repeat: repeat;
    background-size: 25%;
    overflow: hidden;
    color: var(--col2);
    background-color: var(--col2);
}

img{
    z-index: 1;
    filter: sepia(70%);
    width: 100px;
}

.flexmain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h2{
    font-family: space;
    font-size: 90%;
}

h3{
    font-family: one;
    font-size: 300%;
}

h3, h2{
    transition: letter-spacing 2s, font-size 2s;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--col2);
}

h3:hover, h2:hover{
    letter-spacing: 10px;
}

.enter{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    padding: 3vw;
    background-color: var(--col1);
    border: 0.5vw solid var(--col2);
}


.buttoncontain{
    display: inline;
    width: 100%; 
}

.button{
    width: 88px;
    height: 31px;
}

.pic{
    animation: updown 2.5s infinite  alternate;
    margin: -5%;
}

.pic:hover{
    animation: hovery 2s infinite ease-in-out alternate;
}

.picper{
    margin: auto;
    width: 400px;
    position: absolute;
    top: 3%;
    left: 70%;
    animation: updown 6s infinite ease-in-out alternate;
}

.picper:hover{
    animation: hovery 3s infinite ease-in-out alternate;
}

.picstar{
    position: relative;
    top: 120px;
    left: 10px;
    animation: updown 3s infinite ease-in-out alternate;
}

@keyframes hovery {
  0% { transform: translateY(-15px) rotate(0); }
  100% { transform: translateY(0px) rotate(10deg); }
}

@keyframes updown{
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}



@media all and (max-width: 900px) {
    .picper{
        visibility: hidden;
    }

    html, body { 
        height: 100vh; 
        overflow: hidden;
    }
}

