:root{
  --subcolor: #49bb78;
  --maincolor: #1c222a;
  --minicolor: #2a4365;
  --p:#8dfe8b;
}

@font-face {
  font-family: quicksand ;
  src: url("https://file.garden/ZXYYlmMYuz15fq8m/fonts/Quicksand_Book.otf");
}

*{
  scrollbar-color: var(--maincolor) var(--minicolor);
  scrollbar-width: slim;
}

html,body{
  font-family: quicksand;
  background-color: var(--maincolor);
  color: var(--p);
}

.flex{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  border: 0.5vw solid var(--subcolor);
  background-color: var(--minicolor);
  width: 50vw;
  margin-bottom:1vw;
  padding: 2vw;
  padding-top: 1vw;
}

.quiz img{
  height: 150px;
}

.quiz> a{
  display: inline;
}

.dragon > a{
  display: inline;
}

ul{
  list-style-image: url("https://pixelsea.neocities.org/icons/arrow-0231.gif");
  list-style-position: inside;
}

a{
  text-decoration: none;
  color: var(--subcolor);
  display: flex;
  flex-direction: column;
  max-width: max-content;
}

a:hover{
  color: var(--p);
}

ul > li > a{
  display: inline !important;
}

textarea{
  width: 50vw;
  height: 20vh;
  background-color: var(--minicolor);
  border: 2px solid var(--subcolor);
  color: var(--subcolor);
}

@media all and (max-width: 900px) {
  .container{
    width: 95vw;
  }
  
  .quiz img{
    width: 200px;
    height: auto;
  }
}