:root{
    --ten: #60EFFF;
    --thirty: #99ff13;
    --sixty: #1e4f72;
    --light: #e6fdff;
    --dark: #150980;
}

*{
    scrollbar-color: var(--ten) var(--sixty);
    scrollbar-width: thin;
}

@font-face {
    font-family: watery;
    src: url("https://file.garden/ZXYYlmMYuz15fq8m/fonts/Exo2-ExtraLight.ttf");
}

html{
    color: var(--light);
    font-family: "watery", sans-serif;

}

.over{
    display: flex;
    justify-content: center;
}

.all {
    display: flex;
    width: 75%;
    justify-content: center;
    flex-direction: row;
    background-color: var(--sixty);
    border-right: 3px solid var(--ten);
    box-shadow: 10px 10px 25px var(--dark);
}

.nav{
    overflow-y: scroll;
    display: flex;
    width: max-content;
    flex-direction: column;
    background-color: var(--sixty);
    padding-right: 2%;
    border-right: 3px solid var(--ten);
    border-left: 3px solid var(--ten);
    overflow-x: hidden;
}

.nav img{
    margin: 10% 2% 0% 10%;
    border-bottom: 3px solid var(--ten);
}

ul{
    list-style-type: "\2726";
}

li{
    padding: 1px;
    width: fit-content;
}

a{
    color: var(--thirty);
    transition: color 1s, text-shadow 1s;
    text-decoration: none;
    border-bottom: 2px solid var(--ten);
}

a:hover{
    color: var(--light);
    text-shadow: 0px 0px 8px var(--ten);
}

.main{
    width: 100%;
    padding: 4%;
}

iframe{
    width: 100%;
    border: none;
    height: 80vh;
    border-top: 3px solid var(--ten);
    border-bottom: 3px solid var(--ten);
}

.stick{
    position: sticky;
    top: 90%;
    left: 2%;
    padding: 10px;
    width: fit-content;
    border-right: 2px solid var(--ten);
    border-left: 2px solid var(--ten);
    background-color: var(--sixty);
}

.genbutton{
    border: 3px solid var(--light);
    width: fit-content;
    padding: 1%;
    background-color: var(--dark);
    transition: all 0.1s;
}

.genbutton:hover{
    background-color: var(--light);
    color: var(--dark);
    user-select: none;
}

.genspace{
    border-bottom: 3px solid var(--ten);
    padding: 10px;
}

.toper{
    display: flex-box;
}